body{
    width: 100%;
    height: 74rem;
    background: linear-gradient(to bottom, rgba(131, 73, 144, 0.863) 0%, rgba(6, 4, 4, 0.775) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;

}
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* Estilo del marco */
.contenedor-marco {
    background-color: #1e1e1e; 
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
    width: 350px;
    text-align: center;
}

/* Estilo del título */
h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: rgba(183, 0, 255, 0.488); 
}

/* Estilo del input donde se mostrará la contraseña */
#text-contrasena {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #333; 
    border-radius: 5px;
    font-size: 1rem;
    color: rgb(179, 160, 185); 
    text-align: center;
    background-color: #2c2c2c; 
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); 
}

/* Estilo del rango */
.contenedor-rango {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    color: #e0e0e0;
}

input[type="range"] {
    width: 100%;
    height: 5px;
    background: rgba(120, 28, 110, 0.559); 
    border-radius: 5px;
    outline: none;
    margin: 0 10px;
    transition: background 0.3s;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 2px solid rgb(117, 15, 200); 
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #fff;
    border: 2px solid rgb(26, 1, 19);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
}

/* Estilo de las configuraciones */
.contenedor-configuraciones {
    text-align: left;
    margin-bottom: 1.5rem;
}

.checkbox {
    margin-bottom: 0.5rem;
}

.checkbox input[type="checkbox"] {
    margin-right: 0.5rem;
    cursor: pointer;
}

.checkbox label {
    cursor: pointer;
    color: #e0e0e0; 
}

/* Estilo del botón */
button {
    background-color: rgb(124, 30, 145); 
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

button:hover {
    background-color: rgb(162, 0, 255); 
    transform: translateY(-2px); 
}

/* Estilos responsivos */
@media (max-width: 400px) {
    .contenedor-marco {
        width: 90%;
        padding: 1.5rem;
    }

    h1 {
        font-size: 1.2rem;
    }

    button {
        width: 100%;
    }
}